
html, body, .first-level-section {
  block-size: 100%;
}

body {
    margin: 0;
    color: #363e49 !important;
}

html {
  scroll-snap-type: y mandatory;
  /* scroll-behavior: smooth;  */

  font-family: 'Roboto', sans-serif;
}

.first-level-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

p, li {
    line-height: 1.5;
}

a img {
    transition: transform 0.3s ease; /* Add a smooth transition */
}

a img:hover {
    transform: scale(1.2); /* Scale the image by 20% (1 + 0.2) */
}

img.profile-image {
    transition: transform 0.3s ease; /* Add a smooth transition */
}

img.profile-image:hover {
    transform: scale(1.2); /* Scale the image by 20% (1 + 0.2) */
}


.profile-image {
    border-radius: 10px;
    margin-bottom: 20px;
}
.profile {
    background: conic-gradient(
        from 305deg, 
        rgb(125, 152, 175) 0deg,
        rgb(125, 152, 175) 36deg,

        rgb(112, 144, 171) 36deg, 
        rgb(112, 144, 171) 72deg, 

        rgb(101, 135, 166) 72deg, 
        rgb(101, 135, 166) 108deg, 

        rgb(92, 126, 161) 108deg, 
        rgb(92, 126, 161) 144deg, 

        rgb(85, 117, 155) 144deg, 
        rgb(85, 117, 155) 180deg, 

        rgb(125, 152, 175) 180deg, 
        rgb(125, 152, 175) 216deg,

        rgb(112, 144, 171) 216deg, 
        rgb(112, 144, 171) 252deg,

        rgb(101, 135, 166) 252deg, 
        rgb(101, 135, 166) 288deg,

        rgb(92, 126, 161) 288deg, 
        rgb(92, 126, 161) 324deg, 
        
        rgb(85, 117, 155) 324deg, 
        rgb(85, 117, 155) 360deg
        /* rgb(81, 108, 148) 240deg,  */
        /* rgb(81, 108, 148) 264deg,  */
        /* rgb(79, 99, 141) 264deg,  */
        /* rgb(79, 99, 141) 288deg,  */
        /* rgb(80, 90, 133) 288deg,  */
        /* rgb(80, 90, 133) 312deg,  */
        /* rgb(84, 83, 125) 312deg,  */
        /* rgb(84, 83, 125) 336deg,  */
        /* rgb(91, 75, 116) 336deg,  */
        /* rgb(91, 75, 116) 360deg */
    );
}
.profile .container {
    display: flex;
    box-shadow: 0 0px 100px rgb(0 0 0 / 18%);
    border-radius: 16px;
    width: 80%;
}

.profile .left-box {
    width: 40%;
    padding: 4px 12px;

    display: flex;          
    flex-direction: column;  
    justify-content: center; 
    align-items: center;   

    /* background: #0d0d0d24; */
    border-radius: 16px 0 0 16px;
    background: linear-gradient(90deg, rgb(255 255 255) 0%, rgb(255 255 255) 50%, rgb(244 244 244) 100%);
    /* animation: shine 2s infinite; */
}

.profile .left-box p {
    margin: 6px 0;
}
.profile .left-box a {
    text-decoration: none;
    margin: 0 3px;
}



.profile .right-box {
    width: 60%;   
    padding: 4px 30px;
    background: white;
    border-radius: 0 16px 16px 0;
}
.profile .right-box p,
.profile .right-box li,
.experience .content p,
.experience .content li {
    font-size: 15px !important;
}


.experience {
    /* background-color: #3d4455; */
    background: linear-gradient(
        90deg, 
        rgb(85, 117, 155) 0%, 
        rgb(125, 152, 175) 50%, 
        rgb(85, 117, 155) 100%
    );
    /* background: linear-gradient(90deg, rgb(255 255 255) 0%, rgb(255 255 255) 50%, rgb(244 244 244) 100%); */
}

.experience > .scroll-container,
.project > .scroll-container {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.experience section,
.project section {
    height: 1200px;
}

.experience  .sticky-heading,
.project  .sticky-heading {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
  }
  
  .experience h1 {
    color: white;
    margin-left: 50px;
  }










/* The actual timeline (the vertical ruler) */
.experience .timeline {
    position: relative;
    /* max-width: 1200px; */
    margin: 0 26px;
    overflow-x: hidden;
  }
  
  /* The actual timeline (the vertical ruler) */
.experience  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 31px;
    margin-left: -3px;
  }
  
  /* Container around content */
 .experience .container {
    /* padding: 10px 40px; */
    position: relative;
    background-color: inherit;
    /* width: 50%; */

    width: 105%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
      /* Make sure that all arrows are pointing leftwards */
 .experience   .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  

  /* The circles on the timeline */
 .experience .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #184785;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
 .experience .left {
    left: 0;
  }
  
  /* Place the container to the right */
/* .experience  .right {
    left: 50%;
  } */
  

  .experience  .right {
    left: 0%;
    }


  /* Add arrows to the left container (pointing right) */
 .experience .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #184785;
  }
  
  /* Add arrows to the right container (pointing left) */
 .experience .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
/* .experience  .right::after {
    left: -16px;
  } */
  .experience   .left::after,
.experience .right::after {
    left: 15px;
    }
  
  /* The actual content */
.experience  .content {
    padding: 20px 30px 6px 30px;
    background-color: white;
    position: relative;
    /* border-radius: 6px; */
    margin-bottom: 25px;
    width: 80%;

    box-shadow: 0 0px 100px rgb(0 0 0 / 18%);
    border-radius: 16px;
    margin-left: 6px;

    
  }

  .experience .content .header {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-top: 6px;
  }


  .experience .content strong {
    font-size: 16px !important;
  }
  
  .experience .header-title {
    padding-top: 0;
    margin-top: 0;
  }



